---
import Layout from '#l/Layout.astro';
---

<Layout title='Página no encontrada'>
  <main>
    <h1>Error 404</h1>
    <h2>Página no encontrada</h2>
  </main>
</Layout>

<style>
  main {
    background: var(--eggshell);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 80px;
    color: red;
  }

  h2 {
    font-size: 30px;
    color: brown;
  }
</style>
