---
// Importamos los componentes usados.
import DocContent from '&/components/DocContent.astro';
---

<!-- Contenido de "¿Por qué Game.pkt?". -->
<section class='py-10 w-4/5'>
  <h1 class='font-press font-extrabold text-2xl'>¿Por qué Game.pkt?</h1>
  <DocContent>Somos un <strong>grupo de estudiantes entusiastas</strong> a quienes se nos ha encomendado la tarea de crear un <strong>videojuego</strong>. Este proyecto tiene como temática principal el programa llamado <strong>Packet Tracer</strong>, una herramienta de simulación de redes ampliamente utilizada en el ámbito educativo y profesional.</DocContent>
  <DocContent> Nuestro juego se llama <strong>Game.pkt</strong>, inspirado en los archivos de Packet Tracer que llevan la <strong>extensión .pkt</strong>. En Packet Tracer, los usuarios pueden <strong>diseñar y simular redes</strong> de forma interactiva, y en Game.pkt, llevaremos esta experiencia a un nuevo nivel, desafiando a los jugadores a explorar y dominar los <strong>conceptos de networking</strong> de una manera <strong>divertida y educativa</strong>. ¡Prepárate para sumergirte en el mundo de la conectividad y las redes con Game.pkt!</DocContent>
</section>
