<ul>
  <li><a href='/'>Menu</a></li>
  <li><a href='/aboutus'>Sobre nosotros</a></li>
  <li><a href='/team'>Equipo</a></li>
  <li><a href='/docs'>Documentación</a></li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--viridian);
    padding: 20px 50px;
    height: 10vh;
  }
</style>
