<header>
  <a href='/'><img src='/assets/logo.svg' alt='Logo' /></a>

  <ul>
    <li><a href='/equipo'>Equipo</a></li>
    <li><a href='/docs'>Documentación</a></li>
    <li><a href='/logros'>Logros</a></li>
  </ul>
</header>

<style>
  header {
    background-color: var(--viridian);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    align-items: center;
    font-size: 17px;
  }

  header > ul {
    display: flex;
    flex-direction: row;
    gap: 0 50px;
  }

  header img {
    width: 120px;
    height: auto;
  }
</style>
