---
// Importamos las fuentes de texto.
import Error from '&/components/Error.astro'
import Footer from '&/components/Footer.astro'
import Header from '&/components/Header.astro'
import '@fontsource-variable/onest'
import '@fontsource/press-start-2p'

// Creamos y obtenemos las propiedades.
interface Props {
  title: string
}

const { title } = Astro.props
---

<!-- Renderizamos el mapa. --><!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='¡Bienvenido a Game.pkt, donde las redes se convierten en una emocionante aventura! Sumérgete en el mundo de la conectividad y los protocolos en este juego educativo basado en Packet Tracer. Desde conectar dispositivos simples hasta configurar servicios avanzados, cada nivel te desafía a aprender y dominar conceptos clave de redes de una manera divertida y práctica.' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/icon.svg' />
    <title>{title}</title>
  </head>
  <body class='font-onest bg-white'>
    <div class='md:block hidden'>
      <slot />
    </div>
    <div class='md:hidden font-onest bg-primary min-h-screen flex flex-col justify-between'>
      <Header />
      <main class='xl:mx-[300px] lg:mx-40 mx-4 mb-12'>
        <Error error='No se ha podido acceder al nivel' description='Dispositivos con un ancho menor a 768 píxeles no son compatibles con el juego.' />
      </main>
      <Footer />
    </div>
  </body>
</html>
