---
import '@fontsource/poppins';

interface Props {
  level: string;
}

const { level } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content=`Nivel ${level}` />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/icono.svg' />
    <title>Nivel {level} | Conexión entre pares</title>
  </head>

  <body>
    <main>
      <header class='game-title'>
        <h1>Conexión entre pares</h1>
        <h3 class='game-level'>Nivel 1</h3>
      </header>

      <section id='game-map'></section>

      <footer class='game-mats'>
        <ul id='materials'></ul>
        <button id='verify-level'>Verificar</button>
      </footer>
    </main>

    <aside class='show' id='mission'>
      <ul id='missions'>
        <h1>Misiones</h1>
      </ul>
      <h3 id='display-mission'>{'<'}</h3>
    </aside>

    <div class='options'>
      <a href='/'>Menu</a>
      <button id='return'>Volver</button>
    </div>

    <div class='end'>
      <div class='done'>
        <h1>Enhorabuena!</h1>
        <span>Has conseguido completar el nivel.</span>
        <a href='/niveles/2/'>Siguiente nivel</a>
        <a href='/'>Menu principal</a>
      </div>

      <div class='error'>
        <h1>No has conseguido superar el nivel</h1>
        <span>Vuelve a intentarlo para poder acceder a los demás niveles</span>
        <a href='/niveles/1/'>Reintentar</a>
        <a href='/'>Menu principal</a>
      </div>
    </div>

    <script type='module' src='../js/display.js'></script>
    <script type='module' src='script.js'></script>
  </body>
</html>

<style>
  :root {
    --eggshell: #faf3dd;
    --tea-green: #c8d5b9;
    --cambridge-blue: #8fc0a9;
    --verdigris: #68b0ab;
    --viridian: #4a7c59;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
      'Poppins',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }

  main {
    display: grid;
    grid-template:
      'title title title' 10vh
      'map map map' 80vh
      'mats mats mats' 10vh / 1fr;
    min-height: 100vh;
    overflow: hidden;
  }

  .game-title {
    padding: 0 50px;
    grid-area: title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--verdigris);
  }

  .game-title span {
    cursor: pointer;
  }

  .game-level {
    cursor: pointer;
  }

  #mission {
    left: 0;
    background: var(--cambridge-blue);
    padding: 10px;
    position: absolute;
    height: 60vh;
    width: 250px;
    top: 50vh;
    transform: translate(-250px, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.6s all ease-in-out;
  }

  #mission.show {
    transform: translate(0, -50%);
  }

  #mission > #mision {
    transition: 1s all ease-in-out;
  }

  #mission > ul {
    align-self: self-start;
    height: 100%;
    overflow: auto;
  }

  #mission > h3 {
    cursor: pointer;
    position: absolute;
    background: var(--cambridge-blue);
    left: 100%;
    padding: 6px 12px;
  }

  #mission.show {
    left: 0;
  }

  #mission li {
    list-style: inside;
  }

  #game-map {
    grid-area: map;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  img {
    cursor: pointer;
  }

  .game-mats {
    grid-area: mats;
    background: var(--verdigris);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #materials {
    list-style: none;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  #materials img {
    height: 100%;
  }

  .game-mats button {
    width: 5%;
  }

  .options {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    top: -100vh;
    transition: 0.4s all ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0003;
    gap: 20px;
  }

  .options a,
  .options button {
    background: transparent;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #000;
  }

  .options.show {
    top: 0;
  }

  .end {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #0003;
    width: 100%;
  }

  .end.show {
    display: flex;
  }

  .done,
  .error {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .done.show,
  .error.show {
    display: flex;
  }
</style>
